
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 ">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                
                  <div class="align-items-center justify-content-center pb-4">
                    
                    {{#if user}}
                    <p>Welcome back!</p>
                    <a class="text-secondary" href="/user/user">Students</a>
                    {{else}}
                    <div><a class="form-label" href="/user/login">Please Log in</a></div>
                  {{/if}}
                  </div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
 
